@import "https://fonts.googleapis.com/css2?family=Titan+One&display=swap";

@import "https://fonts.googleapis.com/css2?family=Changa+One&display=swap";

@import "https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap";

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0);
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: rgba(0,0,0,0);
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  font-size: 4.68px;
  --font-family: "Titan One", sans-serif;
  --second-family: "Changa One", sans-serif;
  --third-family: "Sigmar One", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  color: var(--white);
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: #15021c;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

@keyframes drop-in {
  from {
    transform: translateY(-150%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 194.2rem;
  background: #15021c;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0.95);
  }
}

@keyframes shine {
  0% {
    background-position: -200% center;
  }

  100% {
    background-position: 200% center;
  }
}

@keyframes win {
  0%, 100% {
    filter: drop-shadow(0 0 0 transparent);
    rotate: 0deg;
  }

  50% {
    filter: drop-shadow(0 0 15px gold);
    rotate: -3deg;
  }
}

.pulse-anim {
  animation: win 1s infinite;
  position: relative;
  z-index: 1;
}

.promo {
  background: url("../img/main_bg.png") center center/cover no-repeat;
  max-width: 108rem;
  width: 100%;
  height: 194.5rem;
  max-height: 194.5rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-origin: top center;
}

.promo__slot {
  position: relative;
  width: 100%;
  padding: 0 0rem;
  min-height: 20rem;
  z-index: 11;
  top: 27.35%;
  left: 0%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__slot-bg {
  position: absolute;
  top: -13%;
  left: 0;
  right: 0;
  z-index: 10;
}

.promo__slot-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.promo__slot::before {
  content: "";
  position: absolute;
  left: 0rem;
  top: -65%;
  background: url("../img/game_title.png") center center/contain no-repeat;
  width: 48.15%;
  height: 62%;
  z-index: 100;
}

.promo__slot::after {
  content: "";
  position: absolute;
  right: -3.5%;
  top: -62%;
  background: url("../img/fisher.png") center center/contain no-repeat;
  width: 81%;
  height: 103%;
  z-index: 10;
}

.promo__cells {
  display: flex;
  gap: 4rem;
  position: relative;
  z-index: 20;
}

.promo__column {
  width: 28rem;
  height: 85rem;
  overflow: hidden;
  position: relative;
}

.promo__column-inner {
  display: flex;
  gap: .3rem;
  flex-direction: column;
  will-change: transform;
  transition: transform 2s ease-out;
}

.promo__cell {
  width: 100%;
  height: 28rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.promo__cell img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
}

.promo__result {
  position: absolute;
  bottom: -19%;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem 2.5rem;
  z-index: 11;
}

.promo__result-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url("../img/spins-left.png") center center/cover no-repeat;
  z-index: 13;
}

.promo__result-count {
  position: relative;
  z-index: 30;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 8.5rem;
  text-align: center;
  background: linear-gradient(180deg, #dcefff 39.5%, #c079e9 49%, #f0cdff 74.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0,0,0,0);
  white-space: nowrap;
  -webkit-text-stroke: 2px #360443;
}

.promo__btn {
  position: absolute;
  z-index: 12;
  padding: 4rem 12rem;
  background: url("../img/button.png") center center/contain no-repeat;
  bottom: -51rem;
  bottom: -60%;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 15rem;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 3px #360443;
}

.pop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease,visibility .5s ease;
}

.pop.active {
  opacity: 1;
  visibility: visible;
}

.pop__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(19,1,33,.8);
}

.pop__wrapper {
  padding: 7rem 9rem;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 395px;
  height: 711.4px;
  background: url("../img/pop-up_bg.png") center center/contain no-repeat;
}

.pop__wrapper::before {
  content: "";
  position: absolute;
  top: -27.5rem;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  background: url("../img/game_title.png") center center/contain no-repeat;
  width: 74rem;
  height: 74rem;
  z-index: 50;
}

.pop__title {
  margin-top: 25rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 23rem;
  line-height: 52%;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 51;
}

.pop__title span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 9rem;
  line-height: 133%;
  letter-spacing: .01em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.pop__subtitle {
  margin-top: 11rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20rem;
  line-height: 70%;
  text-align: center;
  text-transform: uppercase;
  color: #f5ff36;
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #f5ff36, #ee4135, #f5ff36);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0,0,0,0);
  animation: shine 4.5s linear infinite;
}

.pop__notafication {
  margin-top: 8.5rem;
  padding: 0 2rem;
  display: flex;
  width: 100%;
  gap: 1.5rem;
}

.pop__cansel {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.pop__descr {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 6.4rem;
  letter-spacing: .08em;
  color: #fff;
  display: flex;
  width: 50%;
  align-items: center;
  text-align: left;
}

.pop__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: -4rem;
  left: 0;
  right: 0;
  width: 60rem;
  height: 25rem;
  z-index: 30;
  margin: auto;
  animation: pulse 1.5s ease infinite alternate;
}

.pop__btn-bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  background: url("../img/button4.png") center center/cover no-repeat;
  width: 67rem;
  height: 100%;
  z-index: 20;
}

.pop__btn-text {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 8.5rem;
  line-height: 93%;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 25;
  -webkit-text-stroke: 3px #360443;
}

.pop-end__title {
  margin-top: 19rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 19rem;
  line-height: 73%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-left: 2.5rem;
}

.pop-end__winner {
  margin-top: .5rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12rem;
  line-height: 100%;
  letter-spacing: .08em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-left: 2.5rem;
}

.pop-end__subtitle {
  margin-top: 3.5rem;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 75%;
  text-align: center;
  color: #f5ff36;
  white-space: nowrap;
}

.pop-end__free {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 8.5rem;
  line-height: 141%;
  letter-spacing: .01em;
  text-align: center;
  color: #fff;
  margin-top: .5rem;
  margin-left: -1.5rem;
}

.pop-end__notafication {
  margin-top: 7rem;
  padding-left: 2rem;
}

.pop-end__descr {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 6rem;
  line-height: 75%;
  letter-spacing: .08em;
  color: #fff;
  width: 70%;
}

.pop-end__approve {
  margin-top: 1rem;
}

.pop-end__btn {
  position: absolute;
  bottom: 0;
}

.pop-end__btn-bg {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  background: url("../img/button4.png") center center/cover no-repeat;
  width: 55rem;
  height: 100%;
  z-index: 20;
}

.pop-end__btn-text {
  margin-top: 1rem;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 7rem;
  line-height: 93%;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 25;
  -webkit-text-stroke: 2px #360443;
}

.pop-end__timer {
  position: absolute;
  bottom: -26rem;
  width: 38rem;
  height: 26.5rem;
  background: url("../img/timer-btn.png") center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-end__timer-bonus {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 3rem;
  line-height: 177%;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 1px #360443;
}

.pop-end__timer-time {
  margin-top: .5rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11rem;
  line-height: 55%;
  text-align: center;
  color: #fffffc;
  display: flex;
  align-items: center;
  -webkit-text-stroke: 2px #360443;
  gap: .5rem;
}

.pop-end__timer-time span {
  width: 50%;
}

.pop-end__timer-names {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 3rem;
  line-height: 200%;
  text-align: center;
  color: #fff;
  margin-left: -0.5rem;
  -webkit-text-stroke: 2px #360443;
}

@media (max-width: 1080px) {
  .promo {
    background: url("../img/main_bg.png") center center/cover no-repeat;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    align-items: center;
  }

  .promo__slot {
    width: 590px;
    top: 27.35%;
    left: 0%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promo__slot-bg {
    position: absolute;
    top: -28%;
    left: 0;
    right: 0;
    z-index: 11;
  }

  .promo__slot-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .promo__slot::before {
    content: "";
    position: absolute;
    left: 3%;
    top: -58%;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 53%;
    height: 65%;
    z-index: 100;
  }

  .promo__slot::after {
    content: "";
    position: absolute;
    right: -15%;
    top: -53%;
    background: url("../img/fisher.png") center center/contain no-repeat;
    width: 70%;
    height: 70%;
    z-index: 10;
  }

  .promo__cells {
    display: flex;
    gap: 10.5rem;
    position: relative;
    z-index: 20;
    justify-content: center;
  }

  .promo__column {
    width: 25rem;
    height: 75rem;
    overflow: hidden;
    position: relative;
  }

  .promo__column-inner {
    display: flex;
    gap: .3rem;
    flex-direction: column;
    will-change: transform;
    transition: transform 2s ease-out;
  }

  .promo__cell {
    width: 25rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .promo__cell img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
  }

  .promo__result {
    position: absolute;
    bottom: -22%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem 6rem;
    z-index: 11;
  }

  .promo__result-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../img/spins-left.png") center center/cover no-repeat;
    z-index: 13;
  }

  .promo__result-count {
    position: relative;
    z-index: 30;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 5.5rem;
    text-align: center;
    background: linear-gradient(180deg, #dcefff 39.5%, #c079e9 49%, #f0cdff 74.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    white-space: nowrap;
    -webkit-text-stroke: 2px #360443;
  }

  .promo__btn {
    position: absolute;
    z-index: 12;
    padding: 4rem 8rem;
    background: url("../img/button.png") center center/contain no-repeat;
    bottom: -51rem;
    bottom: -50%;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 8rem;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 3px #360443;
  }

  .pop {
    align-items: center;
  }

  .pop__wrapper {
    padding: 7rem 9rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 395px;
    height: 650px;
    background: url("../img/pop-up_bg.png") center center/contain no-repeat;
  }

  .pop__wrapper::before {
    content: "";
    position: absolute;
    top: -27.5rem;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 65rem;
    height: 65rem;
    z-index: 50;
  }

  .pop__title {
    margin-top: 15rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18rem;
    line-height: 52%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 51;
  }

  .pop__title span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 9rem;
    line-height: 133%;
    letter-spacing: .01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .pop__subtitle {
    margin-top: 6rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 17rem;
    line-height: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #f5ff36;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #f5ff36, #ee4135, #f5ff36);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    animation: shine 4.5s linear infinite;
  }

  .pop__notafication {
    margin-top: 7rem;
    padding: 0 2rem;
    display: flex;
    width: 100%;
    gap: 1.5rem;
  }

  .pop__cansel {
    width: 18rem;
    height: 18rem;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .pop__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5.5rem;
    letter-spacing: .08em;
    color: #fff;
    display: flex;
    width: 47%;
    align-items: center;
    text-align: left;
  }

  .pop__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: 0;
    width: 60rem;
    height: 25rem;
    z-index: 30;
    margin: auto;
    animation: pulse 1.5s ease infinite alternate;
  }

  .pop__btn-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background: url("../img/button4.png") center center/cover no-repeat;
    width: 58rem;
    height: 100%;
    z-index: 20;
  }

  .pop__btn-text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 7rem;
    line-height: 93%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 25;
    -webkit-text-stroke: 2px #360443;
  }

  .pop-end__wrapper {
    margin-top: -3.5rem;
    width: 395px;
    height: 610px;
  }

  .pop-end__wrapper::before {
    content: "";
    top: -27.5rem;
    width: 60rem;
    height: 60rem;
  }

  .pop-end__title {
    margin-top: 10rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15.5rem;
    line-height: 73%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
  }

  .pop-end__winner {
    margin-top: .5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10.5rem;
    line-height: 100%;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
    white-space: nowrap;
  }

  .pop-end__subtitle {
    margin-top: 3.5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14rem;
    line-height: 75%;
    text-align: center;
    color: #f5ff36;
    white-space: nowrap;
  }

  .pop-end__free {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6.75rem;
    line-height: 141%;
    letter-spacing: .01em;
    text-align: center;
    color: #fff;
    margin-top: .5rem;
    margin-left: -1.5rem;
    white-space: nowrap;
  }

  .pop-end__notafication {
    margin-top: 4.5rem;
    padding-left: 2.75rem;
  }

  .pop-end__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5rem;
    line-height: 75%;
    letter-spacing: .08em;
    color: #fff;
    width: 70%;
  }

  .pop-end__approve {
    margin-top: 1rem;
    width: 18rem;
    height: 18rem;
  }

  .pop-end__btn {
    position: absolute;
    bottom: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop-end__btn-bg {
    width: 47rem;
    height: 115px;
    z-index: 20;
  }

  .pop-end__btn-text {
    margin-top: 1.5rem;
    font-size: 5.75rem;
  }

  .pop-end__timer {
    position: absolute;
    bottom: -21rem;
    width: 35rem;
    height: 24rem;
    background: url("../img/timer-btn.png") center center/contain no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pop-end__timer-bonus {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 177%;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 1px #360443;
  }

  .pop-end__timer-time {
    margin-top: .5rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9rem;
    line-height: 55%;
    text-align: center;
    color: #fffffc;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px #360443;
    gap: .5rem;
  }

  .pop-end__timer-time span {
    width: 50%;
  }

  .pop-end__timer-names {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 200%;
    text-align: center;
    color: #fff;
    margin-left: -0.5rem;
    -webkit-text-stroke: 2px #360443;
  }
}

@media (max-width: 375px) {
  .promo {
    background: url("../img/main_bg.png") center center/cover no-repeat;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    align-items: center;
  }

  .promo__slot {
    width: 325px;
    top: 25%;
    left: 0%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promo__slot-bg {
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    z-index: 11;
  }

  .promo__slot-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .promo__slot::before {
    content: "";
    position: absolute;
    left: 0rem;
    top: -65%;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 60%;
    height: 70%;
    z-index: 100;
  }

  .promo__slot::after {
    content: "";
    position: absolute;
    right: -14.9%;
    top: -55%;
    background: url("../img/fisher.png") center center/contain no-repeat;
    width: 75%;
    height: 75%;
    z-index: 10;
  }

  .promo__cells {
    display: flex;
    gap: 4.5rem;
    position: relative;
    z-index: 20;
    justify-content: center;
  }

  .promo__column {
    width: 16rem;
    height: 48rem;
    overflow: hidden;
    position: relative;
  }

  .promo__column-inner {
    display: flex;
    gap: .3rem;
    flex-direction: column;
    will-change: transform;
    transition: transform 2s ease-out;
  }

  .promo__cell {
    width: 16rem;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .promo__cell img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
  }

  .promo__result {
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem 4.5rem;
    z-index: 12;
  }

  .promo__result-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../img/spins-left.png") center center/cover no-repeat;
    z-index: 13;
  }

  .promo__result-count {
    position: relative;
    z-index: 30;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    background: linear-gradient(180deg, #dcefff 39.5%, #c079e9 49%, #f0cdff 74.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    white-space: nowrap;
    -webkit-text-stroke: 2px #360443;
  }

  .promo__btn {
    position: absolute;
    z-index: 12;
    padding: 4rem 8rem;
    background: url("../img/button.png") center center/contain no-repeat;
    bottom: -45rem;
    bottom: -83%;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 3px #360443;
  }

  .pop {
    align-items: center;
  }

  .pop__wrapper {
    padding: 7rem 12rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 395px;
    height: 520px;
    background: url("../img/pop-up_bg.png") center center/contain no-repeat;
  }

  .pop__wrapper::before {
    content: "";
    position: absolute;
    top: -24.5rem;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 57rem;
    height: 57rem;
    z-index: 50;
  }

  .pop__title {
    margin-top: 13rem;
    font-size: 16rem;
    line-height: 52%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 51;
  }

  .pop__title span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6rem;
    line-height: 133%;
    letter-spacing: .01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .pop__subtitle {
    margin-top: 6rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15rem;
    line-height: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #f5ff36;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #f5ff36, #ee4135, #f5ff36);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    animation: shine 4.5s linear infinite;
  }

  .pop__notafication {
    margin-left: -10.5rem;
    width: 221px;
    margin-top: 6rem;
    padding: 0 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .pop__cansel {
    width: 15rem;
    height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .pop__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: .08em;
    color: #fff;
    display: flex;
    width: 50%;
    align-items: center;
    text-align: left;
  }

  .pop__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: 0;
    width: 60rem;
    height: 25rem;
    z-index: 30;
    margin: auto;
    animation: pulse 1.5s ease infinite alternate;
  }

  .pop__btn-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background: url("../img/button4.png") center center/cover no-repeat;
    width: 50rem;
    height: 100%;
    z-index: 20;
  }

  .pop__btn-text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 6rem;
    line-height: 93%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 25;
    -webkit-text-stroke: 2px #360443;
  }

  .pop-end__wrapper {
    margin-top: 0rem;
    width: 395px;
    height: 510px;
  }

  .pop-end__wrapper::before {
    content: "";
    top: -23.5rem;
    width: 52rem;
    height: 52rem;
  }

  .pop-end__title {
    margin-top: 7.5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14rem;
    line-height: 73%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
  }

  .pop-end__winner {
    margin-top: .5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 9rem;
    line-height: 100%;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
    white-space: nowrap;
  }

  .pop-end__subtitle {
    margin-top: 3.5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12.5rem;
    line-height: 75%;
    text-align: center;
    color: #f5ff36;
    white-space: nowrap;
  }

  .pop-end__free {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6rem;
    line-height: 141%;
    letter-spacing: .01em;
    text-align: center;
    color: #fff;
    margin-top: .5rem;
    margin-left: -1.5rem;
    white-space: nowrap;
  }

  .pop-end__notafication {
    margin-top: 3.5rem;
    padding-left: 0rem;
    margin-left: 0;
  }

  .pop-end__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 75%;
    letter-spacing: .08em;
    color: #fff;
    width: 70%;
  }

  .pop-end__approve {
    margin-top: 1rem;
    width: 15rem;
    height: 15rem;
  }

  .pop-end__btn {
    position: absolute;
    bottom: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop-end__btn-bg {
    width: 42rem;
    height: 100px;
    z-index: 20;
  }

  .pop-end__btn-text {
    margin-top: 3.5rem;
    font-size: 5rem;
  }

  .pop-end__timer {
    position: absolute;
    bottom: -16.5rem;
    width: 35rem;
    height: 19.5rem;
    background: url("../img/timer-btn.png") center center/contain no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pop-end__timer-bonus {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 177%;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: .5px #360443;
  }

  .pop-end__timer-time {
    margin-top: .5rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 55%;
    text-align: center;
    color: #fffffc;
    display: flex;
    align-items: center;
    -webkit-text-stroke: .5px #360443;
    gap: .5rem;
  }

  .pop-end__timer-time span {
    width: 50%;
  }

  .pop-end__timer-names {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 200%;
    text-align: center;
    color: #fff;
    margin-left: -0.5rem;
    -webkit-text-stroke: .5px #360443;
  }
}

@media (min-width: 992px)and (max-width: 1080px) {
  :root {
    font-size: 5px;
  }
}

@media (min-width: 768px)and (max-width: 991px) {
  .promo {
    background: url("../img/main_bg.png") center center/cover no-repeat;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    align-items: center;
  }

  .promo__slot {
    width: 550px;
    top: 27.35%;
    left: 0%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promo__slot-bg {
    position: absolute;
    top: -28%;
    left: 0;
    right: 0;
    z-index: 11;
  }

  .promo__slot-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .promo__slot::before {
    content: "";
    position: absolute;
    left: 0rem;
    top: -60%;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 60%;
    height: 70%;
    z-index: 100;
  }

  .promo__slot::after {
    content: "";
    position: absolute;
    right: -15%;
    top: -57%;
    background: url("../img/fisher.png") center center/contain no-repeat;
    width: 75%;
    height: 75%;
    z-index: 10;
  }

  .promo__cells {
    display: flex;
    gap: 10.5rem;
    position: relative;
    z-index: 20;
    justify-content: center;
  }

  .promo__column {
    width: 25rem;
    height: 75rem;
    overflow: hidden;
    position: relative;
  }

  .promo__column-inner {
    display: flex;
    gap: .3rem;
    flex-direction: column;
    will-change: transform;
    transition: transform 2s ease-out;
  }

  .promo__cell {
    width: 25rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .promo__cell img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
  }

  .promo__result {
    position: absolute;
    bottom: -22%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem 4.5rem;
    z-index: 12;
  }

  .promo__result-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../img/spins-left.png") center center/cover no-repeat;
    z-index: 13;
  }

  .promo__result-count {
    position: relative;
    z-index: 30;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    background: linear-gradient(180deg, #dcefff 39.5%, #c079e9 49%, #f0cdff 74.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    white-space: nowrap;
    -webkit-text-stroke: 2px #360443;
  }

  .promo__btn {
    position: absolute;
    z-index: 12;
    padding: 4rem 8rem;
    background: url("../img/button.png") center center/contain no-repeat;
    bottom: -45rem;
    bottom: -52%;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 3px #360443;
  }

  .pop {
    align-items: center;
  }

  .pop__wrapper {
    padding: 7rem 12rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 395px;
    height: 570px;
    background: url("../img/pop-up_bg.png") center center/contain no-repeat;
  }

  .pop__wrapper::before {
    content: "";
    position: absolute;
    top: -24.5rem;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 65rem;
    height: 65rem;
    z-index: 50;
  }

  .pop__title {
    margin-top: 20rem;
    font-size: 17.5rem;
    line-height: 52%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 51;
  }

  .pop__title span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 133%;
    letter-spacing: .01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .pop__subtitle {
    margin-top: 6rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16.5rem;
    line-height: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #f5ff36;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #f5ff36, #ee4135, #f5ff36);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    animation: shine 4.5s linear infinite;
  }

  .pop__notafication {
    margin-top: 6rem;
    padding: 0 2rem;
    display: flex;
    width: 100%;
    gap: 1.5rem;
  }

  .pop__cansel {
    width: 18rem;
    height: 18rem;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .pop__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5.5rem;
    letter-spacing: .08em;
    color: #fff;
    display: flex;
    width: 47%;
    align-items: center;
    text-align: left;
  }

  .pop__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: 0;
    width: 60rem;
    height: 25rem;
    z-index: 30;
    margin: auto;
    animation: pulse 1.5s ease infinite alternate;
  }

  .pop__btn-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background: url("../img/button4.png") center center/cover no-repeat;
    width: 58rem;
    height: 100%;
    z-index: 20;
  }

  .pop__btn-text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 7rem;
    line-height: 93%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 25;
    -webkit-text-stroke: 2px #360443;
  }

  .pop-end__wrapper {
    margin-top: 0rem;
    width: 395px;
    height: 590px;
  }

  .pop-end__wrapper::before {
    content: "";
    top: -27.5rem;
    width: 60rem;
    height: 60rem;
  }

  .pop-end__title {
    margin-top: 10rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15.5rem;
    line-height: 73%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
  }

  .pop-end__winner {
    margin-top: .5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10.5rem;
    line-height: 100%;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
    white-space: nowrap;
  }

  .pop-end__subtitle {
    margin-top: 5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14rem;
    line-height: 75%;
    text-align: center;
    color: #f5ff36;
    white-space: nowrap;
  }

  .pop-end__free {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6.75rem;
    line-height: 141%;
    letter-spacing: .01em;
    text-align: center;
    color: #fff;
    margin-top: .5rem;
    margin-left: -1.5rem;
    white-space: nowrap;
  }

  .pop-end__notafication {
    margin-top: 4.5rem;
    padding-left: 2.75rem;
  }

  .pop-end__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5rem;
    line-height: 75%;
    letter-spacing: .08em;
    color: #fff;
    width: 70%;
  }

  .pop-end__approve {
    margin-top: 1rem;
    width: 18rem;
    height: 18rem;
  }

  .pop-end__btn {
    position: absolute;
    bottom: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop-end__btn-bg {
    width: 47rem;
    height: 115px;
    z-index: 20;
  }

  .pop-end__btn-text {
    margin-top: 1.5rem;
    font-size: 5.75rem;
  }

  .pop-end__timer {
    position: absolute;
    bottom: -21rem;
    width: 35rem;
    height: 24rem;
    background: url("../img/timer-btn.png") center center/contain no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pop-end__timer-bonus {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 177%;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 1px #360443;
  }

  .pop-end__timer-time {
    margin-top: .5rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9rem;
    line-height: 55%;
    text-align: center;
    color: #fffffc;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px #360443;
    gap: .5rem;
  }

  .pop-end__timer-time span {
    width: 50%;
  }

  .pop-end__timer-names {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 200%;
    text-align: center;
    color: #fff;
    margin-left: -0.5rem;
    -webkit-text-stroke: 2px #360443;
  }
}

@media (min-width: 481px)and (max-width: 767px) {
  .promo {
    background: url("../img/main_bg.png") center center/cover no-repeat;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    align-items: center;
  }

  .promo__slot {
    width: 490px;
    top: 25%;
    left: 0%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promo__slot-bg {
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    z-index: 11;
  }

  .promo__slot-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .promo__slot::before {
    content: "";
    position: absolute;
    left: 0rem;
    top: -55%;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 50%;
    height: 60%;
    z-index: 100;
  }

  .promo__slot::after {
    content: "";
    position: absolute;
    right: -10.6%;
    top: -50%;
    background: url("../img/fisher.png") center center/contain no-repeat;
    width: 70%;
    height: 70%;
    z-index: 10;
  }

  .promo__cells {
    display: flex;
    gap: 6rem;
    position: relative;
    z-index: 20;
    justify-content: center;
  }

  .promo__column {
    width: 25rem;
    height: 75rem;
    overflow: hidden;
    position: relative;
  }

  .promo__column-inner {
    display: flex;
    gap: .3rem;
    flex-direction: column;
    will-change: transform;
    transition: transform 2s ease-out;
  }

  .promo__cell {
    width: 25rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .promo__cell img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
  }

  .promo__result {
    position: absolute;
    bottom: -19%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem 4.5rem;
    z-index: 12;
  }

  .promo__result-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../img/spins-left.png") center center/cover no-repeat;
    z-index: 13;
  }

  .promo__result-count {
    position: relative;
    z-index: 30;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    background: linear-gradient(180deg, #dcefff 39.5%, #c079e9 49%, #f0cdff 74.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    white-space: nowrap;
    -webkit-text-stroke: 2px #360443;
  }

  .promo__btn {
    position: absolute;
    z-index: 12;
    padding: 4rem 8rem;
    background: url("../img/button.png") center center/contain no-repeat;
    bottom: -45rem;
    bottom: -50%;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 3px #360443;
  }

  .pop {
    align-items: center;
  }

  .pop__wrapper {
    padding: 7rem 12rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 395px;
    height: 570px;
    background: url("../img/pop-up_bg.png") center center/contain no-repeat;
  }

  .pop__wrapper::before {
    content: "";
    position: absolute;
    top: -24.5rem;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 65rem;
    height: 65rem;
    z-index: 50;
  }

  .pop__title {
    margin-top: 20rem;
    font-size: 17.5rem;
    line-height: 52%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 51;
  }

  .pop__title span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 133%;
    letter-spacing: .01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .pop__subtitle {
    margin-top: 6rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16.5rem;
    line-height: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #f5ff36;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #f5ff36, #ee4135, #f5ff36);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    animation: shine 4.5s linear infinite;
  }

  .pop__notafication {
    margin-left: 1rem;
    margin-top: 6rem;
    padding: 0 2rem;
    display: flex;
    width: 100%;
    gap: 1.5rem;
  }

  .pop__cansel {
    width: 17rem;
    height: 17rem;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .pop__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5.5rem;
    letter-spacing: .08em;
    color: #fff;
    display: flex;
    width: 45%;
    align-items: center;
    text-align: left;
  }

  .pop__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: 0;
    width: 60rem;
    height: 25rem;
    z-index: 30;
    margin: auto;
    animation: pulse 1.5s ease infinite alternate;
  }

  .pop__btn-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background: url("../img/button4.png") center center/cover no-repeat;
    width: 58rem;
    height: 100%;
    z-index: 20;
  }

  .pop__btn-text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 7rem;
    line-height: 93%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 25;
    -webkit-text-stroke: 2px #360443;
  }

  .pop-end__wrapper {
    margin-top: 0rem;
    width: 395px;
    height: 570px;
  }

  .pop-end__wrapper::before {
    content: "";
    top: -27.5rem;
    width: 60rem;
    height: 60rem;
  }

  .pop-end__title {
    margin-top: 10rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15.5rem;
    line-height: 73%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
  }

  .pop-end__winner {
    margin-top: .5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10.5rem;
    line-height: 100%;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
    white-space: nowrap;
  }

  .pop-end__subtitle {
    margin-top: 3.5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14rem;
    line-height: 75%;
    text-align: center;
    color: #f5ff36;
    white-space: nowrap;
  }

  .pop-end__free {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6.75rem;
    line-height: 141%;
    letter-spacing: .01em;
    text-align: center;
    color: #fff;
    margin-top: .5rem;
    margin-left: -1.5rem;
    white-space: nowrap;
  }

  .pop-end__notafication {
    margin-top: 4.5rem;
    padding-left: 2.75rem;
  }

  .pop-end__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5rem;
    line-height: 75%;
    letter-spacing: .08em;
    color: #fff;
    width: 70%;
  }

  .pop-end__approve {
    margin-top: 1rem;
    width: 18rem;
    height: 18rem;
  }

  .pop-end__btn {
    position: absolute;
    bottom: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop-end__btn-bg {
    width: 47rem;
    height: 115px;
    z-index: 20;
  }

  .pop-end__btn-text {
    margin-top: 1.5rem;
    font-size: 5.75rem;
  }

  .pop-end__timer {
    position: absolute;
    bottom: -21rem;
    width: 35rem;
    height: 24rem;
    background: url("../img/timer-btn.png") center center/contain no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pop-end__timer-bonus {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 177%;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 1px #360443;
  }

  .pop-end__timer-time {
    margin-top: .5rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9rem;
    line-height: 55%;
    text-align: center;
    color: #fffffc;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 2px #360443;
    gap: .5rem;
  }

  .pop-end__timer-time span {
    width: 50%;
  }

  .pop-end__timer-names {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 200%;
    text-align: center;
    color: #fff;
    margin-left: -0.5rem;
    -webkit-text-stroke: 2px #360443;
  }
}

@media (min-width: 376px)and (max-width: 480px) {
  .promo {
    background: url("../img/main_bg.png") center center/cover no-repeat;
    max-width: 100%;
    height: 100vh;
    max-height: 100vh;
    align-items: center;
  }

  .promo__slot {
    width: 380px;
    top: 25%;
    left: 0%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .promo__slot-bg {
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    z-index: 11;
  }

  .promo__slot-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .promo__slot::before {
    content: "";
    position: absolute;
    left: 0rem;
    top: -65%;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 60%;
    height: 70%;
    z-index: 100;
  }

  .promo__slot::after {
    content: "";
    position: absolute;
    right: -14.9%;
    top: -55%;
    background: url("../img/fisher.png") center center/contain no-repeat;
    width: 75%;
    height: 75%;
    z-index: 10;
  }

  .promo__cells {
    display: flex;
    gap: 3.2rem;
    position: relative;
    z-index: 20;
    justify-content: center;
  }

  .promo__column {
    width: 21rem;
    height: 61rem;
    overflow: hidden;
    position: relative;
  }

  .promo__column-inner {
    display: flex;
    gap: .3rem;
    flex-direction: column;
    will-change: transform;
    transition: transform 2s ease-out;
  }

  .promo__cell {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .promo__cell img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
  }

  .promo__result {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem 4.5rem;
    z-index: 12;
  }

  .promo__result-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url("../img/spins-left.png") center center/cover no-repeat;
    z-index: 13;
  }

  .promo__result-count {
    position: relative;
    z-index: 30;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    background: linear-gradient(180deg, #dcefff 39.5%, #c079e9 49%, #f0cdff 74.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    white-space: nowrap;
    -webkit-text-stroke: 2px #360443;
  }

  .promo__btn {
    position: absolute;
    z-index: 12;
    padding: 4rem 8rem;
    background: url("../img/button.png") center center/contain no-repeat;
    bottom: -45rem;
    bottom: -61%;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 3px #360443;
  }

  .pop {
    align-items: center;
  }

  .pop__wrapper {
    padding: 7rem 12rem;
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 395px;
    height: 520px;
    background: url("../img/pop-up_bg.png") center center/contain no-repeat;
  }

  .pop__wrapper::before {
    content: "";
    position: absolute;
    top: -24.5rem;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    background: url("../img/game_title.png") center center/contain no-repeat;
    width: 57rem;
    height: 57rem;
    z-index: 50;
  }

  .pop__title {
    margin-top: 13rem;
    font-size: 16rem;
    line-height: 52%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 51;
  }

  .pop__title span {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 7rem;
    line-height: 133%;
    letter-spacing: .01em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  .pop__subtitle {
    margin-top: 6rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16rem;
    line-height: 70%;
    text-align: center;
    text-transform: uppercase;
    color: #f5ff36;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #f5ff36, #ee4135, #f5ff36);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
    animation: shine 4.5s linear infinite;
  }

  .pop__notafication {
    margin-left: -7rem;
    margin-top: 6rem;
    padding: 0 0rem;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
  }

  .pop__cansel {
    width: 15rem;
    height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .pop__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: .08em;
    color: #fff;
    display: flex;
    width: 45%;
    align-items: center;
    text-align: left;
  }

  .pop__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: 0;
    width: 60rem;
    height: 25rem;
    z-index: 30;
    margin: auto;
    animation: pulse 1.5s ease infinite alternate;
  }

  .pop__btn-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    background: url("../img/button4.png") center center/cover no-repeat;
    width: 50rem;
    height: 100%;
    z-index: 20;
  }

  .pop__btn-text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 6rem;
    line-height: 93%;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 25;
    -webkit-text-stroke: 2px #360443;
  }

  .pop-end__wrapper {
    margin-top: 0rem;
    width: 395px;
    height: 530px;
  }

  .pop-end__wrapper::before {
    content: "";
    top: -23.5rem;
    width: 52rem;
    height: 52rem;
  }

  .pop-end__title {
    margin-top: 7.5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14.5rem;
    line-height: 73%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
  }

  .pop-end__winner {
    margin-top: .5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 9.5rem;
    line-height: 100%;
    letter-spacing: .08em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding-left: 1rem;
    white-space: nowrap;
  }

  .pop-end__subtitle {
    margin-top: 3.5rem;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13rem;
    line-height: 75%;
    text-align: center;
    color: #f5ff36;
    white-space: nowrap;
  }

  .pop-end__free {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 6rem;
    line-height: 141%;
    letter-spacing: .01em;
    text-align: center;
    color: #fff;
    margin-top: .5rem;
    margin-left: -1.5rem;
    white-space: nowrap;
  }

  .pop-end__notafication {
    margin-top: 4.5rem;
    padding-left: .5rem;
  }

  .pop-end__descr {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 75%;
    letter-spacing: .08em;
    color: #fff;
    width: 70%;
  }

  .pop-end__approve {
    margin-top: 1rem;
    width: 18rem;
    height: 18rem;
  }

  .pop-end__btn {
    position: absolute;
    bottom: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pop-end__btn-bg {
    width: 42rem;
    height: 100px;
    z-index: 20;
  }

  .pop-end__btn-text {
    margin-top: 3.5rem;
    font-size: 5rem;
  }

  .pop-end__timer {
    position: absolute;
    bottom: -18rem;
    width: 35rem;
    height: 19.5rem;
    background: url("../img/timer-btn.png") center center/contain no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pop-end__timer-bonus {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 177%;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: .5px #360443;
  }

  .pop-end__timer-time {
    margin-top: .5rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 8rem;
    line-height: 55%;
    text-align: center;
    color: #fffffc;
    display: flex;
    align-items: center;
    -webkit-text-stroke: .5px #360443;
    gap: .5rem;
  }

  .pop-end__timer-time span {
    width: 50%;
  }

  .pop-end__timer-names {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 200%;
    text-align: center;
    color: #fff;
    margin-left: -0.5rem;
    -webkit-text-stroke: .5px #360443;
  }
}